*{
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0;
  background-image: url('./public/assets/cartas/mesa-poker-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  width: 100%;
}

.titulo{
  height: 70px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta{
  position: relative;
  left: 80px;
  width: 130px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
  /* height: 400px; */
  height: calc(100vh - 185px);
}

h1{
  font-size: 20px;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  backdrop-filter: blur(4px);
  background-color: rgb(37, 37, 37, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.botones{
  padding-top: 10px;
  height: 60px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid rgb(131, 35, 0);
  border-left: 10px solid rgb(131, 35, 0);
  border-right: 10px solid rgb(131, 35, 0);
  height: calc(100% - 130px);
  padding-top: 30px;
}

button{
  margin-right: 10px;
}

.carta-header{
  margin-top: -100px;
  width: 50px;
}

.juegos-ganados{
  font-size: 20px;
  margin-left: 20px;
  width: 300px;
  height: 30px;
  text-align: center;
  backdrop-filter: blur(4px);
  background-color: rgb(37, 37, 37, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  margin-top: -70px;
}

.swal2-modal{
  backdrop-filter: blur(4px);
  background-color: rgba(197, 196, 196, 0.5);
}

.swal2-title{
  color: black;
}

button:where(.swal2-styled).swal2-confirm{
  background-color: rgb(15, 15, 15) !important;
}

@media (min-width: 280px) and (max-width: 720px){
  .carta{
    width: 100px;
  }

  #computadora-cartas, #jugador-cartas{
    height: 200px;
  }

  main{
    flex-direction: column;
    border: none;
  }

  h1{
    margin-top: 10px;
    margin-left: 5px;
  }

  .juegos-ganados{
    width: 200px;
    margin-left: 100px;
    text-align: center;
    margin-top: -40px;
  }
}